# Помечаем все файлы с расширением .html как текстовые
*.html linguist-generated


# Помечаем все файлы с расширением .css как текстовые
*.css linguist-generated


# Помечаем все файлы с расширением .xml как текстовые
*.xml linguist-generated


# Помечаем все файлы в директории dist как сгенерированные
*.py linguist-generated

app/* linguist-documentation=false
