{% extends "base.html" %}

{% block content %}
    <h1 class="text-4xl font-bold text-center text-gray-800 mb-8">Панель учителя</h1>
    <div class="flex justify-end mb-4">
        <button onclick="location.href=`{{ url_for('logout') }}`" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Выйти из системы
        </button>
        <button onclick="location.href=`{{ url_for('add_student') }}`" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Добавить студента
        </button>        
    </div>
    <table id="attendanceTable" class="min-w-full bg-white mt-6">
        <thead>
            <tr>
                <th class="py-2 px-4 border-b text-center">ФИО</th>
                <th class="py-2 px-4 border-b text-center">Класс</th>
                <th class="py-2 px-4 border-b text-center">Время посещения</th>
            </tr>
        </thead>
        <tbody>
            {% for row in attendance_data %}
            <tr>
                <td class="py-2 px-4 border-b text-center">{{ row[0] }}</td>
                <td class="py-2 px-4 border-b text-center">{{ row[1] }}</td>
                <td class="py-2 px-4 border-b text-center">{{ row[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="button-container mt-6">
        <button id="startCaptureBtn" onclick="startCapture()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Съемка</button>
        <button id="stopCaptureBtn" class="hidden bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" onclick="stopCapture()">Остановить съемку</button>
    </div>
    <div class="video-container mt-6">
        <canvas id="videoCanvas" width="640" height="480" class="shadow-md rounded-lg"></canvas>
    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        const socket = io();
        const canvas = document.getElementById('videoCanvas');
        const context = canvas.getContext('2d');
        const image = new Image();

        socket.on('frame', function(data) {
            image.src = 'data:image/jpeg;base64,' + data.image;
            image.onload = function() {
                context.drawImage(image, 0, 0, canvas.width, canvas.height);
            };
        });

        socket.on('attendance_update', function() {
            fetch('/get_attendance_data')
                .then(response => response.json())
                .then(data => {
                    updateAttendanceTable(data);
                })
                .catch(error => console.error('Error fetching attendance data:', error));
        });

        function updateAttendanceTable(data) {
            const tableBody = document.getElementById('attendanceTable').getElementsByTagName('tbody')[0];
            tableBody.innerHTML = '';
            data.forEach(record => {
                const row = document.createElement('tr');
                const nameCell = document.createElement('td');
                const classCell = document.createElement('td');
                const timeCell = document.createElement('td');

                nameCell.textContent = record.name;
                classCell.textContent = record.class;
                timeCell.textContent = record.attendance_time;

                nameCell.classList.add('py-2', 'px-4', 'border-b', 'text-center');
                classCell.classList.add('py-2', 'px-4', 'border-b', 'text-center');
                timeCell.classList.add('py-2', 'px-4', 'border-b', 'text-center');

                row.appendChild(nameCell);
                row.appendChild(classCell);
                row.appendChild(timeCell);
                tableBody.appendChild(row);
            });
        }

        function startCapture() {
            fetch('/capture')
                .then(response => response.json())
                .then(data => {
                    alert(data.status);
                    document.getElementById('startCaptureBtn').classList.add('hidden');
                    document.getElementById('stopCaptureBtn').classList.remove('hidden');
                    document.querySelector('.video-container').style.display = 'block';
                });
        }

        function stopCapture() {
            fetch('/stop_capture')
                .then(response => response.json())
                .then(data => {
                    alert(data.status);
                    document.getElementById('startCaptureBtn').classList.remove('hidden');
                    document.getElementById('stopCaptureBtn').classList.add('hidden');
                    document.querySelector('.video-container').style.display = 'none';
                });
        }

        // Запрос обновлений данных о посещаемости при подключении
        socket.on('connect', function() {
            console.log('Connected to server');
            socket.emit('get_attendance_updates');
        });
    </script>
{% endblock %}
